.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 30px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: #689afd;
  border: 0;
  border-radius: 10px;

  .addText {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }
}

.deleteBtn,
.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #3568ee;
  border: 0;
  border-radius: 50%;

  .deleteText {
    font-size: 10px;
    font-weight: 400;
    color: #fff;
  }
}

.temp {
  background-color: transparent;
}
