.add {
  width: 330px;
  height: 141px;
  border-radius: 10px;
  border: 0.25px solid #949bad; // box-shadow: 0 1px 5px 0 #949bad;
  background-color: white;
  margin-bottom: 14px;
  cursor: pointer;

  .pluspic {
    padding-top: 60px;
    text-align: center;
  }

  .placeholdertext {
    font-size: 15px;
    color: #949bad;
    font-weight: 400;
    text-align: center;
  }
}

.add2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 141px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 #949bad;
  background-color: black;
  margin-bottom: 14px;
  cursor: pointer;
}
