.add,
.add2 {
  text-align: center;
  width: 100%;
  height: 230px;
}
.add2 {
  height: 160px;
}

.container {
  width: 330px;
  height: 141px;
  border-radius: 10px;
  border: 0.25px solid #9296a1;
  background-color: white;
  margin-bottom: 14px;
  cursor: pointer;
  .containerCropper {
    width: 100%;
    height: 100%;
    .cropper {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #c4c4c4;
      overflow: hidden;
    }
    .pluspic {
      padding-top: 60px;
      text-align: center;
    }

    .placeholdertext {
      font-size: 15px;
      color: #949bad;
      font-weight: 400;
      text-align: center;
    }
  }
  .slider {
    height: 20%;
    width: 90%;
    margin: 0 auto;
  }
  .btnContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .btnForImage {
      width: 48%;
      height: 24px;
      font-size: 12px;
      font-weight: 700;
      background-color: white;
      border-radius: 6px;
      border: 1px solid #6a6a6a;
      outline: none;
      color: #3568ee;
      cursor: pointer;
    }
  }
  .caution {
    font-size: 12px;
    color: #939393;
  }
}
