.add,
.add2 {
  width: 100%;
  height: 230px;
  text-align: center;
}
.add2 {
  height: 160px;
}

.container {
  width: 330px;
  height: 141px;
  margin-bottom: 14px;
  cursor: pointer;
  background-color: #fff;
  border: 0.25px solid #9296a1;
  border-radius: 10px;

  .containerCropper {
    width: 100%;
    height: 100%;

    .cropper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #c4c4c4;
      border-radius: 10px;
    }

    .pluspic {
      padding-top: 60px;
      text-align: center;
    }

    .placeholdertext {
      font-size: 15px;
      font-weight: 400;
      color: #949bad;
      text-align: center;
    }
  }

  .slider {
    width: 90%;
    height: 20%;
    margin: 0 auto;
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btnForImage {
      width: 48%;
      height: 24px;
      font-size: 12px;
      font-weight: 700;
      color: #3568ee;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #6a6a6a;
      border-radius: 6px;
      outline: none;
    }
  }

  .caution {
    font-size: 12px;
    color: #939393;
  }
}
