.squareBtn {
  .btn {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 135px;
    height: 56px;
    padding-left: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 0.25px solid #6a6a6a;
    border-radius: 10px;

    .category {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.83333;
      color: #949bad;
    }

    .element {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.428;
      color: #3568ee;
    }

    .arrowBtn {
      position: absolute;
      top: 25px;
      right: 10px;
      cursor: pointer;
      background-color: transparent;
      border: 0;

      .arrow {
        font-weight: 900;
        color: #3568ee;
      }
    }
  }
}

.ellipseBtn {
  margin-bottom: 4px;

  input {
    display: none;
  }

  .selected,
  .unselected {
    width: 129px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
  }

  .selected {
    position: relative;
    border: 0.5px solid #3568ee;

    .check {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      background-color: #3568ee;
      border-radius: 50%;

      .text {
        position: absolute;
        top: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
      }
    }

    .element {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.16;
      color: #3568ee;
      transform: translate(-50%, -50%);
    }
  }

  .unselected {
    position: relative;
    border: 0.5px solid #949bad;

    .element {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.66;
      color: #9b9b9b;
      transform: translate(-50%, -50%);
    }
  }

  .unselected:hover {
    border: 0.5px solid #3568ee;

    .element {
      font-weight: 500;
      color: #3568ee;
    }
  }
}

.shortSquare {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 91px;
  height: 61px;

  .definition {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.69;
    color: #667089;
  }

  .userInput {
    position: relative;

    .inputBox {
      width: 100%;
      height: 34px;
      padding: 10px 30px 9px 13px;
      text-align: right;
      background-color: #fff;
      border: 0.25px solid #6a6a6a;
      border-radius: 10px;
      outline: none;
    }

    .inputBox::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.66;
      text-align: left;
    }

    .unit {
      position: absolute;
      top: 50%;
      right: 8px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.69;
      color: #667089;
      transform: translateY(-50%);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.longSquare {
  display: flex;
  justify-content: space-between;
  width: 292px;
  height: 34px;
  padding: 10px 16px 8px 13px;
  background-color: #fff;
  border: 0.25px solid #6a6a6a;
  border-radius: 10px;

  .price {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.16;
    color: #3568ee;
  }
}

.classCost {
  margin-bottom: 20px;

  .each {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;

    .mult {
      padding-top: 33px;
      color: #667089;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;

    .equal {
      padding-top: 4px;
      color: #667089;
    }
  }
}
