.tab {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 66px;
  padding: 12px 13px;
  margin-top: 0;
  background-color: #fff;
  border-top: 0.25px solid #b1b1b1;

  .elements {
    width: 67px;
    height: 41px;
    list-style-type: none;
    cursor: pointer;
    background-color: #fff;
    border: 0;

    .img {
      display: block;
      margin-bottom: 8px;
    }

    span {
      font-size: 10px;
      line-height: 1.48;
      color: #939393;
      text-align: center;
    }
  }
}
