.classCard {
  width: 330px;
  height: 254px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 #949bad;

  .classCardImage {
    position: relative;

    .classCardImg {
      margin: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .onoffMethod {
      position: absolute;
      top: 9px;
      right: 12px;

      .onoff {
        float: left;
        padding: 4px 8px;
        margin-left: 12px;
        font-size: 12px;
        color: #fff;
        border: 0.5px solid #fff;
        border-radius: 18px;
      }
    }
  }

  .classCardExplanation {
    position: relative;
    padding: 16px;

    h1 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 700;
      color: #283237;
    }

    .def,
    .tag {
      font-size: 13px;
      font-weight: 400;
      color: #949bad;
    }

    .def {
      margin-bottom: 18px;
    }

    .tag {
      position: absolute;
      right: 16px;
      bottom: 0;
    }

    span {
      display: block;
    }

    .likes {
      position: relative;
      left: 0;
      float: left;
      overflow: hidden;

      .heart {
        float: left;
        padding: 0;
        padding-top: 2px;
        background-color: #fff;
        border: 0;
      }

      .likeCnt {
        float: left;
        margin-left: 8px;
        font-size: 13px;
        font-weight: 400;
        color: #949bad;
      }
    }
  }
}
