.dcSection {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 300px;
  height: 54px;
  margin-bottom: 17px;

  .notes {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.48;
    color: #939393;
  }

  .dc {
    display: flex;
    align-items: flex-end;

    .discount {
      margin-right: 7px;
      font-size: 22px;
      line-height: 1.44;
      color: #3568ee;
    }

    .finalPrice {
      margin-right: 7px;
      font-size: 22px;
      line-height: 1.44;
      color: #283237;
    }

    .originPrice {
      margin-right: 7px;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.44;
      color: #939393;
      text-decoration: line-through;
    }
  }

  .finalPrice {
    font-size: 22px;
    line-height: 1.44;
    color: #283237;
  }
}
