.UserReview {
  display: flex;
  background-color: white;
  padding: 23px 29px;
  border-top: 0.25px solid #b1b1b1;
  .profile {
    border-radius: 50%;
    margin-left: 9px;
    margin-right: 10px;
  }
  .textSection {
    display: flex;
    flex-direction: column;
    width: 230px;
    .name {
      display: flex;
      margin: 0 0 7px 0;
      align-items: flex-end;
      font-weight: 400;
      line-height: 1.44;
      font-size: 14px;
      color: #858585;
      .date {
        font-size: 10px;
        color: #939393;
        margin-left: 8px;
      }
    }
    .rating {
      margin-bottom: 10px;
    }
    .review {
      font-size: 11px;
      font-weight: 400;
      color: #939393;
      line-height: 1.44;
    }
  }
}

.TutorComment {
  display: flex;
  padding: 20px 77px;
  border-top: 0.25px solid #b1b1b1;
  .profile {
    padding: 0;
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
  }
  .textSection {
    display: flex;
    flex-direction: column;
    width: 230px;
    .name {
      display: flex;
      align-items: flex-end;
      margin: 0 0 5px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.44;
      color: #858585;
      .date {
        font-size: 10px;
        color: #939393;
        margin-left: 8px;
      }
    }
    .comment {
      font-size: 11px;
      font-weight: 400;
      color: #939393;
      line-height: 1.44;
    }
  }
}

.ReviewWriting {
  position: fixed;
  bottom: 64px;
  .WritingBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f5f8;
    width: 376px;
    height: 53px;
    position: relative;
    .text {
      background-color: white;
      border-radius: 10px;
      width: 328px;
      height: 39px;
      resize: none;
      overflow: hidden;
      padding: 9px 40px 10px 14px;
      outline: none;
      border: none;
    }
    .btn {
      position: absolute;
      right: 25px;
      color: #3568ee;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.fixedTab {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.blankSection {
  background-color: white;
  height: 500px;
  .blank {
  }
  .noreview {
  }
}
