.totalReview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
  background-color: #f3f5f8;
  border-top: 0.25px solid #b1b1b1;

  .rating {
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.17;
    color: #000;
  }

  .reviewInfo {
    display: flex;
    flex-direction: column;

    .reviewCnt {
      margin-bottom: 3px;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.17;
      color: #666;
    }
  }
}
