.previewSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ebebeb;

  .profile {
    width: 34px;
    height: 34px;
    background-color: #e9e9e9;
    border: 0;
    border-radius: 50%;
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;

    .name,
    .last {
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      color: #595959;
      text-align: left;
    }

    .last {
      color: #949494;
    }
  }

  .date {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    color: #aeaeae;
  }
}
