.nameSection {
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  padding-left: 18px;
  background-color: #fff;

  .prev {
    width: 10px;
    height: 30px;
    margin-right: 21px;
    background-color: transparent;
    background-image: url("/images/prev.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0;
  }

  .name {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.14;
  }
}
