.fixed {
  position: fixed;
  bottom: -15px;
  width: 375px;

  .next {
    width: 100%;
    height: 52px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.46666;
    color: #fff;
    cursor: pointer;
    background-color: #2354d4;
    border: 0;
  }
}
