.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  transform: translate(-50%, -50%);
}

.first,
.modalElement,
.last {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 0.25px solid #6a6a6a;

  input {
    display: none;
  }
}

.first:hover,
.modalElement:hover,
.last:hover {
  font-weight: 900;
  color: #2354d5;
}

.first {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.last {
  padding: 2px 10px;
  font-size: 16px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.last::placeholder {
  text-align: center;
}
