.squareBtn {
  .btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 56px;
    width: 135px;
    border-radius: 10px;
    background-color: white;
    border: 0.25px solid #6a6a6a;
    padding-left: 16px;
    .category {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.83333;
      color: #949bad;
    }
    .element {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.428;
      color: #3568ee;
    }
  }
}

.ellipseBtn {
  .selected,
  .unselected {
    height: 24px;
    width: 129px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
  }
  .selected {
    position: relative;
    border: 0.5px solid #3568ee;
    .check {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 4px;
      color: white;
      background-color: #3568ee;
      border-radius: 50%;
      text-align: center;
    }
    .element {
      color: #3568ee;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.16;
    }
  }
  .unselected {
    border: 0.5px solid #949bad;
    .element {
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.66;
    }
  }
}

.shortSquare {
  display: flex;
  flex-direction: column;
  height: 61px;
  width: 91px;
  justify-content: flex-start;
  .definition {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.69;
    color: #667089;
    margin-bottom: 8px;
  }

  .userInput {
    position: relative;
    .inputBox {
      width: 100%;
      height: 34px;
      border-radius: 10px;
      border: 0.25px solid #6a6a6a;
      background-color: white;
      text-align: right;
      padding: 9px 20px 9px 13px;
      outline: none;
    }
    .unit {
      position: absolute;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.69;
      color: #667089;
      top: 6px;
      right: 8px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.longSquare {
  height: 34px;
  width: 292px;
  border-radius: 10px;
  background-color: white;
  border: 0.25px solid #6a6a6a;
  padding: 10px 16px 8px 13px;
  display: flex;
  justify-content: space-between;
  .price {
    font-size: 12px;
    color: #3568ee;
    font-weight: 700;
    line-height: 1.16;
  }
}
