.white {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  background-color: white;
  .firstLine {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    margin-bottom: 26px;
    .prev {
      position: absolute;
      top: 33px;
      left: 25px;
      cursor: pointer;
    }

    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.46666;
    }
  }

  .secondLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    .btn {
      background-color: white;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .selected,
    .unselected {
      width: 102px;
      font-size: 15px;
      text-align: center;
      border: none;
      margin: 0;
      padding: 10px;
    }

    .selected {
      font-weight: 700;
      color: #3568ee;
      border-bottom: 2px solid #3568ee;
    }

    .unselected {
      font-weight: 400;
      color: #949bad;
    }
  }
}
