.changePW {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 100vh;
  padding: 33px 63px 55px;
  margin: 0 auto;
  background-color: #f3f3f3; //white로 바꾸기

  .title {
    margin: 0;
    margin-bottom: 182px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.46;
    color: #283237;
    text-align: center;
  }

  .inputs {
    margin-bottom: 216px;

    .largeText {
      margin-bottom: 44px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.65;
      color: #283237;

      .blueText {
        color: #689afd;
      }
    }
  }
}
