.main {
  width: 376px;
  margin: 0 auto;
  padding-bottom: 118px;
  .category {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 1.44;
    .selected {
      width: 187.5px;
      color: #3568ee;
      border-bottom: 2px solid #3568ee;
      font-weight: 700;
    }
    .unselected {
      width: 187.5px;
      color: #858585;
      font-weight: 400;
    }
  }
  .fixedTab {
    position: fixed;
    bottom: -17px;
  }
}
