.step02 {
  margin: 0 auto;
  width: 375px;
  height: 100vh;
  .background {
    display: none;
    position: fixed;
    width: 375px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .graySection {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f3f5f8;
    padding-bottom: 120px;
    .margin {
      margin-left: 20px;
      .title {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.69;
        color: #283237;
        margin-top: 22px;
      }
      .classType {
        display: flex;
        width: 310px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      }
      .example {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.69;
        color: #949bad;
        padding-left: 17px;
        margin: 0 0 27px 0;
      }
    }
  }
}
