.step02 {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .background {
    position: fixed;
    z-index: 9999;
    display: none;
    width: 375px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .graySection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 120px;
    background-color: #f3f5f8;

    .margin {
      margin-left: 20px;

      .title {
        margin-top: 22px;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.69;
        color: #283237;
      }

      .classType {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 310px;
        margin-bottom: 12px;
      }

      .example {
        padding-left: 17px;
        margin: 0 0 27px 0;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.69;
        color: #949bad;
      }
    }
  }
}
