.step01 {
  margin: 0 auto;
  width: 375px;
  height: 100vh;
  .goBackModal {
    display: none;
    position: fixed;
    width: 375px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .graySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f3f5f8;
    padding-bottom: 120px;
    .question {
      font-size: 13px;
      font-weight: 400;
      color: #283237;
      margin: 0;
      margin-top: 22px;
      margin-bottom: 11px;
    }
  }
}
