.tab {
  background-color: white;
  width: 375px;
  padding: 12px 13px;
  height: 66px;
  .elements {
    border: none;
    width: 66px;
    height: 39px;
    float: left;
    position: relative;
    list-style-type: none;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    .img {
      text-align: center;
      margin-bottom: 8px;
    }
    span {
      display: block;
      font-size: 10px;
      text-align: center;
      color: #939393;
    }
  }
}
