.tab {
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 375px;
  height: 66px;
  padding: 12px 13px;
  margin-top: 0;
  .elements {
    width: 67px;
    height: 41px;
    border: none;
    list-style-type: none;
    background-color: white;
    cursor: pointer;
    .img {
      display: block;
      margin-bottom: 8px;
    }
    span {
      font-size: 10px;
      line-height: 1.48;
      text-align: center;
      color: #939393;
    }
  }
}
