.whitepage {
  background-color: white;
  width: 375px;
  height: 100px;
  margin: 0 auto;
  .title {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
  }

  .selected,
  .unselected {
    width: 187px;
    font-size: 15px;
    text-align: center;
    float: left;
    background-color: white;
    border: none;
  }

  .selected {
    font-weight: 1000;
    color: #3568ee;
    border-bottom: 3px solid #3568ee;
    margin: 0;
    padding-bottom: 12px;
  }

  .unselected {
    font-weight: 400;
    color: #949bad;
  }
}

.graypage {
  background-color: #f3f3f3;
  width: 375px;
  padding-bottom: 120px;
  margin: 0 auto;
  .smallheadingB,
  .smallheadingM {
    font-size: 13px;
    color: #949bad;
    margin: 0;
    padding: 16px 21px;
  }
  .smallheadingB {
    font-weight: 700;
  }
  .smallheadingM {
    font-weight: 400;
  }
  .fixedTab {
    position: fixed;
    bottom: -15px;
  }
  .add {
    display: block;
    width: 330px;
    height: 141px;
    border: none;
    border-radius: 18px;
    box-shadow: 0 1px 5px 0 #949bad;
    background-color: white;
    margin: 0 auto;
    p {
      text-align: center;
      margin: 0;
      margin-bottom: 15px;
      font-size: 15px;
      color: #3568ee;
    }
    .pluspic {
      text-align: center;
    }
  }
}
