.whitesection {
  background-color: white;
  width: 375px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  .title {
    text-align: center;
    padding-top: 22px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.46666;
  }

  .prev {
    position: absolute;
    top: 20px;
    left: 25px;
    cursor: pointer;
  }

  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    .selected,
    .unselected {
      width: 102px;
      font-size: 15px;
      text-align: center;
      border: none;
      margin: 0;
      padding: 11px;
    }

    .selected {
      font-weight: 700;
      color: #3568ee;
      border-bottom: 2px solid #3568ee;
    }

    .unselected {
      font-weight: 400;
      color: #949bad;
    }
  }
}

.graysection {
  background-color: #f8f8f8;
  width: 375px;
  height: 729px;
  margin: 0 auto;
  padding: 22px 21px;
  .question {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 1.692307;
    font-weight: 400;
    color: #283237;
    margin: 0;
    margin-bottom: 17px;
    .cost {
      span {
        color: #949bad;
      }
    }
  }

  .answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    margin-bottom: 43px;
    input {
      display: none;
    }
    label {
      width: 0;
      .mediumbox,
      .mediumboxActive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 129px;
        height: 35px;
        padding: 4px 8px;
        border-radius: 10px;
        background-color: white;
        border: 0.5px solid #667089;
        margin-bottom: 12px;
        cursor: pointer;
        span {
          font-size: 12px;
          font-weight: 700;
          color: #667089;
        }
      }
      .mediumboxActive {
        border: 0.5px solid #3568ee;
        span {
          color: #3568ee;
        }

        .mediumbox:hover {
          border: 0.5px solid #3568ee;
          span {
            color: #3568ee;
          }
        }
      }
    }
  }

  .cost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 11px;
    .element {
      position: relative;
      .smallbox {
        width: 91px;
        height: 34px;
        background-color: white;
        border: 0.25px solid #6a6a6a;
        border-radius: 10px;
        cursor: pointer;
        padding: 9px 43px 9px 13px;
        outline: none;
      }

      .smallbox::placeholder {
        font-size: 7px;
        text-align: left;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      .unit {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 6px;
        font-weight: 700;
        color: #667089;
      }
    }
  }
  .costsum {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    margin-bottom: 29px;
    .sum {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 292px;
      height: 34px;
      border: 0.25px solid #6a6a6a;
      border-radius: 10px;
      background-color: white;
      padding: 9px 14px;
      .text,
      .money {
        color: #3568ee;
        font-size: 12px;
        line-height: 1.17;
        font-weight: 700;
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  .next {
    color: white;
    background-color: #2354d5;
    width: 375px;
    height: 52px;
    border: none;
    cursor: pointer;
  }
  .fixedTab {
    margin-top: 0;
  }
}
